<div class="container d-flex">
    <button class="btn btn-outline-primary me-3" (click)="badReqGet()">Bad request Get 400</button>
    <button class="btn btn-outline-primary me-3" (click)="badReqPost()">Bad request Post 400</button>
    <button class="btn btn-outline-primary me-3" (click)="auth()">Unauthorized 401</button>
    <button class="btn btn-outline-primary me-3" (click)="forbidden()">Forbidden 403</button>
    <button class="btn btn-outline-primary me-3" (click)="notfound()">Not Found 404</button>
    <button class="btn btn-outline-primary me-3" (click)="server()">Server error 500</button>
</div>